<?xml version="1.0"?>
<launch>
	<group ns="locations">
		<rosparam file="$(find experimental_robotics)/param/locations.yaml" command="load" />
	</group>
	<node name="Navigation" pkg="experimental_robotics" type="navigation.py" output="screen" respawn="false" />
    <node name="Knowledge" pkg="experimental_robotics" type="knowledge.py" output="screen" respawn="false" />
    <node name="Gather_hints" pkg="experimental_robotics" type="gather_hints.py" output="screen" respawn="false" />
    <node name="Oracle" pkg="experimental_robotics" type="oracle.py" output="screen" respawn="false" />
    <node name="State_machine" pkg="experimental_robotics" type="state_machine.py" output="screen" respawn="false" />
</launch>
